!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ "http-equiv": 'x-ua-compatible', content: 'ie=edge' }
    %meta{ name: 'viewport',
           content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || 'JES'
    = stylesheet_link_tag 'site'
    = javascript_include_tag 'site'
    = javascript_include_tag '../assets/fontawesome/js/fontawesome.min.js', '../assets/fontawesome/js/solid.min.js'
  %body.h-screen.grid.grid-cols-12.antialiased.text-slate-500.dark:text-slate-400.bg-white.dark:bg-slate-900
    .sm:col-span-2
      = partial :side_bar
    .sm:col-span-10
      = yield
